    .onlyondesktop {display: block;
    	margin-left: 50px;
    	margin-right: 50px;}
    	.onlyondesktop1 {display: block;
    	margin-left: 50px;
    	margin-right: 50px;}
    
    @media screen and (max-device-width:500px) 
     {

    
    .onlyondesktop1 {display: none;}
   

    }
